<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StabilityReportAppKey</key>
	<dict>
		<key>alpha</key>
		<string>5BEhFhqQgw1FLphO</string>
		<key>beta</key>
		<string>MQOxmqqf5AwDVE2R</string>
		<key>real</key>
		<string>rPf9A4PrR6t0mGHs</string>
	</dict>
    <key>ServerAPIVersion</key>
    <string>v1.2</string>
    <key>SDKVersion</key>
    <string>2.6.0</string>
    <key>ServerAddresses</key>
    <dict>
        <key>alpha</key>
        <string>wss://alpha-gamebase-lh.cloud.toast.com:11443/lh</string>
        <key>real</key>
        <string>wss://gamebase-lh.cloud.toast.com:11443/lh</string>
        <key>beta</key>
        <string>wss://beta-gamebase-lh.cloud.toast.com:11443/lh</string>
    </dict>
    <key>PushServerAddress</key>
    <dict>
        <key>alpha</key>
        <string>http://alpha-api-push.cloud.toast.com</string>
        <key>beta</key>
        <string>https://beta-api-push.cloud.toast.com</string>
        <key>real</key>
        <string>https://api-push.cloud.toast.com</string>
    </dict>
    <key>WebsocketTimeout</key>
    <string>5</string>
    <key>WebsocketReadTimeout</key>
    <string>10</string>
    <key>WebsocketMaxRetryCount</key>
    <string>5</string>
    <key>WebsocketRetryInterval</key>
    <string>0.5</string>
    <key>HeartbeatInterval</key>
    <string>120</string>
    <key>LaunchingSchedule</key>
    <string>120</string>
    <key>LaunchingExpireTime</key>
    <string>30</string>
    <key>StoreCode</key>
    <string>AS</string>
    <key>IdentityProviderAuthKey</key>
	<dict>
		<key>appleid</key>
		<string>authorizationCode</string>
	</dict>
</dict>
</plist>
